@model CSharpApp.Models.JDeere
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <title>Secret</title>
</head>
<body>
    <h3>API Endpoint</h3>

    <form action="Index" method="post">
        <label for="ClientId"><strong>Client Id:</strong></label><br />
        <input placeholder="Your Client Id goes here" required size="100" readonly type="text" id="ClientId" name="ClientId" value="@ViewBag.ClientId"><br /><br />
        <input placeholder="Your Client Secret goes here" required size="100" hidden type="text" id="ClientSecret" name="ClientSecret" value="@ViewBag.ClientSecret">
        <input placeholder="Your Authorization Endpoint goes here" required size="100" hidden type="text" id="AuthorizationEndpoint" name="AuthorizationEndpoint" value="@ViewBag.AuthorizationEndpoint">
        <input placeholder="Your Token Endpoint goes here" required size="100" hidden type="text" id="TokenEndpoint" name="TokenEndpoint" value="@ViewBag.TokenEndpoint">
        <label for="TokenEndpoint"><strong>API Endpoint:</strong></label><br />
        <input placeholder="Your Token Endpoint goes here" required size="100" type="text" id="APIEndPoint" autofocus="autofocus" name="APIEndPoint" value="@ViewBag.APIEndPoint"><br /><br />
        <button type="submit" class="btn-primary">Go!</button>
    </form><br />
    <h4>API Path: @ViewBag.APIEndPoint</h4>@ViewBag.APIPath <br /><br />
</body>
</html>
