@{
}
<!DOCTYPE html>
<style></style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>
    <h3>Welcome to the My John Deere API CSharp Example</h3>
    <form method="get">
        <label for="ClientId"><strong>Client Id:</strong></label><br />
        <input placeholder="Your Client ID goes here" size="100" readonly type="text" id="ClientId" name="ClientId" value="@ViewBag.ClientId"><br /><br />
        <label for="ClientSecret"><strong>ClientSecret:</strong></label><br />
        <input placeholder="Your Client Secret goes here" size="100" readonly type="text" id="ClientSecret" name="ClientSecret" value="@ViewBag.ClientSecret"><br /><br />
        <label for="AuthorizationEndpoint"><strong>Authorization Endpoint:</strong></label><br />
        <input placeholder="Your Authorization Endpoint goes here" size="100" readonly type="text" id="AuthorizationEndpoint" name="AuthorizationEndpoint" value="@ViewBag.AuthorizationEndpoint"><br /><br />
        <label for="TokenEndpoint"><strong>Token Endpoint:</strong></label><br />
        <input placeholder="Your Token Endpoint goes here" size="100" readonly type="text" id="TokenEndpoint" name="TokenEndpoint" value="@ViewBag.TokenEndpoint"><br /><br />
        <label for="ClientSecret"><strong>Scopes:</strong></label><br />
        <input placeholder="Your Scopes goes here" size="100" readonly type="text" id="Scopes" name="Scopes" value="@ViewBag.Scopes"><br />
        <input placeholder="Your API Endpoint goes here" size="100" hidden type="text" id="APIEndpoint" name="APIEndpoint" value="@ViewBag.APIEndpoint"><br /><br />
    </form>



    <form method="get" action="~/Token/">
        <button type="submit" class="btn-primary">Connect!</button>
    </form><br />
    <form method="get" action="~/Settings/">
        <button type="submit" class="btn-settings">Edit Settings</button>
    </form><br />

</body>
</html>
